 .external{
     color: dodgerblue;
 }
 .hello2{
     width:fit-content;
     color: blueviolet;
     margin: 5px 10px 10px 20px;
     padding: 20px 10px 10px 5px;
     border: 5px solid red;
     border-radius: 20px;

 }